# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Vite
.vite/

# Capacitor / Mobile
android/
ios/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

# Env
.env
.env.*
